html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.anychart-credits-text,
.anychart-credits-logo {
  display: none !important;
}
.btn {
  padding: 8px 20px;
}
.btn-primary {
  background-color: #f96730;
  border-color: #f96730;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: white;
  border: 1px solid #f96730;
  color: #f96730;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.focus {
  outline: none !important;
  border-color: #b73707;
}
.btn-secondary {
  border: 1px solid lightgray;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
  background-color: white;
  color: #f96730;
}
body {
  padding: 20px;
}
#container {
  height: 230px !important;
  position: relative;
}
#container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  border-right: 3px dashed #ffa500;
  height: 79%;
  background-color: white;
  z-index: 9;
  right: 25%;
  top: 5px;
}
#container::after {
  content: "Planned shutdown";
  text-align: center;
  border: 1px solid white;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffa500;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 12px;
  display: block;
  position: absolute;
  top: 0;
  z-index: 9;
  right: 26%;
}
.background {
  margin: -25px -5px 10px;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  width: calc(100% + 10px);
}
.logo {
  width: 120px;
}
.logo img {
  width: 100%;
}
.nav-and-title {
  display: flex;
  justify-content: space-between;
}
.nav-and-title h3 {
  font-weight: 100;
  text-align: left;
  color: #ffa500;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 10px;
}
.metrics {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
  margin-top: 80px;
}
.metric {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
}
.metric h2 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-top: 0;
  text-decoration: capitalise;
}
.metric p {
  font-size: 6rem;
  font-weight: lighter;
}
.metric.primary {
  background-color: #ffa500;
}
.metric.alert {
  border: 2px solid #f96730;
}
.metric.alert p {
  color: #f96730;
}
.metric .tiny {
  font-size: 3rem;
  position: absolute;
  right: 30px;
  top: 50px;
  opacity: 0.5;
}
.alert-div {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #f96730;
  max-height: 0;
  top: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.alert-div .text {
  padding: 15px 30px 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.alert-div .text h3 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin: 6px 0;
  line-height: 35px;
}
.alert-div.active {
  max-height: 200px;
}
.alert-div .btn-primary {
  background-color: white;
  padding: 10px 30px;
  color: #f96730;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.3 ease-in-out;
}
.alert-div .btn-primary:hover {
  transform: scale(1.1);
}
.pills {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: 10px 0;
}
.pills li {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: background 0.2s ease-in-out;
}
.pills li a {
  color: #9e9e9e;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 80%;
  transition: color 0.2s ease-in-out;
}
.pills li a:hover {
  text-decoration: none;
}
.pills li:hover,
.pills li.current {
  background-color: #9e9e9e;
}
.pills li:hover a,
.pills li.current a {
  color: white;
}
.modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-between;
}
.modal-title {
  float: left;
  font-size: 3rem;
  font-weight: 100;
  color: white;
  letter-spacing: 1px;
}
.modal-header {
  border-bottom: 0;
  background-color: #f96730;
}
.modal-body {
  font-size: 2rem;
  font-weight: 200;
  padding: 40px 20px;
}
